---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

const response = await fetch("http://localhost:4321/api/data.json");
const data = await response.json();
---

<Layout title="Apuntes de Métodos Númericos Por Eber Alejo">
  <Container>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
      obcaecati nobis suscipit error beatae blanditiis sequi itaque excepturi,
      deserunt tempore maxime quia officia ea alias amet repellat ipsa omnis
      animi?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
      obcaecati nobis suscipit error beatae blanditiis sequi itaque excepturi,
      deserunt tempore maxime quia officia ea alias amet repellat ipsa omnis
      animi?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
      obcaecati nobis suscipit error beatae blanditiis sequi itaque excepturi,
      deserunt tempore maxime quia officia ea alias amet repellat ipsa omnis
      animi?
    </p>
  </Container>
</Layout>
