<footer
  class="mt-16 p-12 text-polar-100 bg-zinc-950 text-zinc-50"
  id="contacto"
>
  <div
    class="flex flex-col justify-between max-w-2xl mx-auto md:flex-row gap-10"
  >
    <section>
      <h3 class="font-bold title-3">Desarrollador</h3><p class="text-polar-100">
        Hecho por <strong>Eber Alejo</strong>
      </p>
    </section><section>
      <h3 class="font-bold title-3">Contacto</h3><ul
        class="text-polar-100 grid grid-cols-2 md:grid-cols-4 md:gap-1 gap-3"
      >
        <li>
          <a
            class="transition hover:text-zinc-400 hover:underline"
            href="mailto:eberealejo@gmail.com"
            ><i class="fa-solid fa-envelope" aria-hidden="true"></i> E-Mail</a
          >
        </li><li>
          <a
            class="transition hover:text-zinc-400 hover:underline"
            rel="noreferrer"
            href="https://github.com/ch3ber"
            target="_blank"
            ><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a
          >
        </li><li>
          <a
            class="transition hover:text-zinc-400 hover:underline"
            rel="noreferrer"
            href="https://twitter.com/ch3ber_dev"
            target="_blank"
            ><i class="fa-brands fa-twitter" aria-hidden="true"></i> Twitter</a
          >
        </li><li>
          <a
            class="transition hover:text-zinc-400 hover:underline"
            rel="noreferrer"
            href="https://www.linkedin.com/in/eberalejo"
            target="_blank"
            ><i class="fa-brands fa-linkedin" aria-hidden="true"></i> LinkedIn</a
          >
        </li>
      </ul>
    </section>
  </div>
</footer>
