---
import "@styles/global.css";

import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"
    ></script>
    <script
      async
      id="MathJax-script"
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-neutral-50">
    <Nav title={title} />
    <slot />
    <Footer />
  </body>
</html>
